

  <nav class="navbar navbar-dark p-4">
    <div class="container">
      <h2><a class="navbar-brand text-dark" routerLink="">{{ title }}</a></h2>
  
      <div class="d-flex flex-row flex-wrap align-items-center justify-content-center">
        <button class="btn btn m-1" [ngClass]="{'btn-info': !isUsingF}" (click)="selectCelsius()">Celsius</button>
        <button class="btn btn m-1" [ngClass]="{'btn-info': isUsingF}" (click)="selectFahrenheit()">Fahrenheit</button>
      </div>
    </div>
  </nav>
  
  
  <router-outlet></router-outlet>
  